/* MAIN */
html {
    scroll-behavior: smooth;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

@font-face {
    font-family: 'sofia_proregular';
    src: url('../fonts/WebFontSofiaPro/sofiaproregular-webfont.woff2') format('woff2'),
    url('../fonts/WebFontSofiaPro/sofiaproregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*Using font from webpage (When we have it)*/
/*@font-face {*/
/*    font-family: 'sofia_proregular';*/
/*    src: url("https://yoursite.com/css/fonts/CustomFont.eot");*/
/*    src: url("https://yoursite.com/css/fonts/CustomFont.woff") format("woff"),*/
/*    url("https://yoursite.com/css/fonts/CustomFont.otf") format("opentype"),*/
/*    url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg");*/
/*}*/

body{
    font-family: 'sofia_proregular', serif;
}

#team, #contacto, #colaboradores, #servicios{
    scroll-margin-top: 150px;
}

/* WARMI COLOR PALETTE */
.warmi-lyla-text{
    color: #7651ee
}

.warmi-violet-text{
    color: #4a3288
}

.warmi-pink-text{
    color: #f85fbf
}

.warmi-cian-text{
    color: #01fabe
}
.warmi-lyla-background{
    background-color: #7651ee
}

.warmi-violet-background{
    background-color: #4a3288
}

.warmi-pink-background{
    background-color: #f85fbf
}

.warmi-cian-background{
    background-color: #01fabe
}

/* PARALLAX EFFECTS*/

.parallax-bkg-rellax{
    background-image: url("../media/backgrounds/main-bkg.svg");
    
}

#parallax-bkg {
    background-image: url("../media/backgrounds/main-bkg.svg");
    /*background-attachment: fixed;*/
    /*background-position: top;*/
    /*background-repeat: no-repeat;*/
    background-size: cover;
}

/* NAVBAR */
.logo {
    width: auto;
    height: auto;       
}

nav {
    /*position: fixed;*/
    /*top: -80px;*/    
    min-height: 150px;
    background-color: white;
    display: block;
    transition: top 0.3s;
}
.nav-item {
    color: black;    
    top: 50px;
}

.navbar-nav li a{
    font-size: 2rem;    
    top: 10px
}

/*---- underline -----*/

.hvr-underline {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #01fabe;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline:hover:before, .hvr-underline:focus:before, .hvr-underline:active:before {
    left: 0;
    right: 0;
}

/* PORTADA */
#portada {
    margin-top: 100px;
    font-size: large;
}

/* COMUNIDAD */
.imagenComunidad{
    padding-right: 0;
}
/* COLABORADORES */

.my-hover a .my-info{
    position: absolute;
    height: 70%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50% !important;
    background: #333333;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

.my-hover .my-info i {
    position: absolute;
    top: 40%;
    left: 40%;   
}

.my-hover a:hover .my-info{
    opacity: 1;
    transition: all 0.8s ease-in-out;

}


/* FORMULARIO */


/* WHATSAPP BUTTON STYLE */
.float{
    position: fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
    margin-top:16px;
}

/* CONTACTO */
#contacto {
    height: 615px;
}
.sizeContacto {
    height: 780px;
}

/* FOOTER */








/********** EXTRA UTILITIES************/

/* BANNER ANIMATION */
.parallax-img1 {
    /* The image used */
    background-image: url("../media/backgrounds/background1.jpg");

    /* Set a specific height */
    min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-img2 {
    /* The image used */
    background-image: url("../media/backgrounds/background2.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}