/* SCROLL */
html {
    scroll-behavior: smooth;
  }

body {
  background-color: #01fabe;
}

/* NAVBAR */
.logo {
    width: 150px;
    height: auto;
}
.navbar {
  background-color: transparent;
}

/* FORMULARIO */
.botonFormulario {
  color: white;
  background-color: #4a3288;
}

/* WHATSAPP BUTTON STYLE */
.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
    margin-top:16px;
}

/* FOOTER */
footer {
  background-color: #4a3288;
}